html
{
    font-size: 100%;

    background-color: #f5f6f8;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper
{
    min-width: 1024px;
    max-width: 1900px;
    height: 100vh;
    margin: 0 auto;
}
@media screen and (max-width: 1024px)
{
    .container
    {
        height: calc(100vh - 17px - 4.375rem);
    }
    html
    {
        font-size: 90%;

        background-color: #f5f6f8;
    }
}
@media screen and (min-width: 1920px)
{
    html
    {
        font-size: 150%;

        background-color: #f5f6f8;
    }
}
@font-face
{
    font-family: 'Lato';

    src: url('../fonts/Lato-Regular.ttf');
}
@font-face
{
    font-family: 'LatoBlack';

    src: url('../fonts/Lato-Black.ttf');
}
@font-face
{
    font-family: 'LatoBold';

    src: url('../fonts/Lato-Bold.ttf');
}
.container
{
    display: flex;

    width: 100%;
    height: calc(100vh - 4.375rem);
}
